name: CI/CD Pipeline

on:
  push:
    branches: ["main"]
    paths:
      - html/**
      - Lambda/**
      - Terraform/**
      - CDK/**
  workflow_dispatch:
env:
  LAMBDA_FUNCTION: lambda-terraform
  S3_BUCKET: s3-terraform-083971419667
  S3_BUCKET_CDK: s3-terraform-cdk-083971419667-us-east-1
  S3_BUCKET_LAMBDA: s3-lambda-083971419667
  CLOUDFRONT_DISTRIBUTION_ID: E99RBQPV79L7R
  CLOUDFRONT_DISTRIBUTION_ID_CDK: E2JAEZPVV8CD30
  VERSIONED_LAMBDA_ALIAS: prod
  CLOUDFRONT_URL: https://d16rttnjyvt517.cloudfront.net/api/
  AWS_REGION: us-east-1
  TF_VAR_api_gateway_api_key: ${{ secrets.API_GATEWAY_API_KEY }}

jobs:
  detect_changes:
    runs-on: ubuntu-latest
    outputs:
      lambda_function: ${{ steps.filter.outputs.lambda_function }}
      lambda_likes: ${{ steps.filter.outputs.lambda_likes }}
      lambda_pdf: ${{ steps.filter.outputs.lambda_pdf }}
      lambda_rollback: ${{ steps.filter.outputs.lambda_rollback }}
      html: ${{ steps.filter.outputs.html }}
      terraform: ${{ steps.filter.outputs.terraform }}
      lambda: ${{ steps.filter.outputs.lambda }}
      cdk: ${{ steps.filter.outputs.cdk }}

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Detect changed components
        uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            cdk:
              - "CDK/**"          
            html:
              - "html/**"
            terraform:
              - "Terraform/**"
            lambda:
              - "Lambda/**"
            lambda_function:
              - "Lambda/lambda_function.py"
            lambda_likes:
              - "Lambda/lambda_likes.py"
            lambda_pdf:
              - "Lambda/lambda_pdf.py"
            lambda_rollback:
              - "Lambda/lambda_rollback.py"

  deploy_html:
    needs: detect_changes
    if: needs.detect_changes.outputs.html == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code    
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Prettier
        run: npm install -g prettier

      - name: Prettify HTML & CSS
        run: prettier --write "html/**/*.{html,css}"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Sync HTML to all S3 buckets
        run: |
          aws s3 sync html/ s3://${{ env.S3_BUCKET }}/ --delete
          aws s3 sync html/ s3://${{ env.S3_BUCKET_CDK }}/ --delete

      - name: Invalidate all CloudFront distributions
        run: |
          aws cloudfront create-invalidation --distribution-id ${{ env.CLOUDFRONT_DISTRIBUTION_ID }} --paths "/*"
          aws cloudfront create-invalidation --distribution-id ${{ env.CLOUDFRONT_DISTRIBUTION_ID_CDK }} --paths "/*"


  deploy_lambda:
    if: needs.detect_changes.outputs.lambda == 'true'
    needs: detect_changes
    runs-on: ubuntu-latest
    strategy:
      matrix:
        lambda:
          - key: lambda_function
            file: lambda_function.py
            aws_name: lambda-terraform
            versioned: true
            smoke_url: view?read=true
          - key: lambda_likes
            file: lambda_likes.py
            aws_name: lambda-terraform-likes
            versioned: false
            smoke_url: likes
          - key: lambda_pdf
            file: lambda_pdf.py
            aws_name: lambda-terraform-pdf
            versioned: false
            smoke_url: pdf
          - key: lambda_rollback
            file: lambda_rollback.py
            aws_name: lambda-rollback-handler
            versioned: false
            smoke_url: ''

    steps:    
      - name: Checkout source code    
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install flake8 pylint==3.0.3 astroid==3.0.3

      - name: Style Check(flake8)
        run: flake8 ${{ matrix.lambda.file }}
        working-directory: Lambda

      - name: Static Analysis Report(pylint)
        run: |
          pylint ${{ matrix.lambda.file }} --output-format=parseable > pylint-report.txt || true
          echo "===== PYLINT REPORT ====="
          cat pylint-report.txt          
        working-directory: Lambda
        
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Get current alias version
        if: matrix.lambda.versioned == true
        id: current
        run: |
          OLD_VERSION=$(aws lambda get-alias \
            --function-name ${{ matrix.lambda.aws_name }} \
            --name ${{ env.VERSIONED_LAMBDA_ALIAS }} \
            --query FunctionVersion \
            --output text)
          echo "old=$OLD_VERSION" >> $GITHUB_OUTPUT

      - name: Backup current NON versioned Lambda code to S3
        if: matrix.lambda.versioned == false
        id: current_non_versioned
        run: |
          CODE_URL=$(aws lambda get-function \
            --function-name ${{ matrix.lambda.aws_name }} \
            --query Code.Location \
            --output text)

          curl -sS "$CODE_URL" -o ${{ matrix.lambda.aws_name }}.zip

          aws s3 cp ${{ matrix.lambda.aws_name }}.zip \
            s3://${{ env.S3_BUCKET_LAMBDA }}/${{ matrix.lambda.aws_name }}.zip

      - name: Deploy Lambda code (update-function-code)
        if: needs.detect_changes.outputs[matrix.lambda.key] == 'true'      
        run: |
          cd Lambda
          zip -j lambda.zip ${{ matrix.lambda.file }}
          aws lambda update-function-code \
            --function-name ${{ matrix.lambda.aws_name }} \
            --zip-file fileb://lambda.zip

      - name: Wait for Lambda update to finish
        run: |
          aws lambda wait function-updated \
            --function-name ${{ matrix.lambda.aws_name }}

      - name: Publish new version
        if: matrix.lambda.versioned == true
        id: publish
        run: |
          NEW_VERSION=$(aws lambda publish-version \
            --function-name ${{ matrix.lambda.aws_name }} \
            --query Version \
            --output text)
          echo "new=$NEW_VERSION" >> $GITHUB_OUTPUT

      - name: Point alias to new version
        if: matrix.lambda.versioned == true
        run: |
          aws lambda update-alias \
            --function-name ${{ matrix.lambda.aws_name }} \
            --name ${{ env.VERSIONED_LAMBDA_ALIAS }} \
            --function-version ${{ steps.publish.outputs.new }}

      - name: Smoke test
        id: smoke
        continue-on-error: true
        if: needs.detect_changes.outputs[matrix.lambda.key] == 'true'  && matrix.lambda.smoke_url != ''
        run: |
          SMOKE_URL="${CLOUDFRONT_URL}/${{ matrix.lambda.smoke_url }}"
          echo "Smoke testing: $SMOKE_URL"
          curl -fsS "$SMOKE_URL"

      - name: Rollback alias to previous version
        if: matrix.lambda.versioned == true && steps.smoke.outcome == 'failure'
        run: |
          aws lambda update-alias \
            --function-name ${{ matrix.lambda.aws_name }} \
            --name ${{ env.VERSIONED_LAMBDA_ALIAS }} \
            --function-version ${{ steps.current.outputs.old }}

      - name: Rollback non versioned lambda to previous version
        if: matrix.lambda.versioned == false && steps.smoke.outcome == 'failure'
        run: |
          aws s3 cp \
            s3://${{ env.S3_BUCKET_LAMBDA }}/${{ matrix.lambda.aws_name }}.zip \
            rollback.zip

          aws lambda update-function-code \
            --function-name ${{ matrix.lambda.aws_name }} \
            --zip-file fileb://rollback.zip
            
      - name: Fail workflow if smoke test failed
        if: steps.smoke.outcome == 'failure'
        run: exit 1            
  
  deploy_terraform:
    needs: detect_changes
    if: needs.detect_changes.outputs.terraform == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./Terraform    
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Install tfsec
        run: |
          curl -s https://raw.githubusercontent.com/aquasecurity/tfsec/master/scripts/install_linux.sh | bash

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      - name: Terraform init
        run: terraform init 

      - name: Terraform format
        run: terraform fmt

      - name: Terraform validate
        run: terraform validate        

      - name: Terraform security scan
        run: tfsec --minimum-severity LOW .
        continue-on-error: true

      - name: Terraform plan
        id: plan
        run: terraform plan -input=false -out planfile
        continue-on-error: true
      
      - name: Terraform plan status
        if: steps.plan.outcome == 'failure'
        run: exit 1        

      - name: terraform Apply
        run: terraform apply -auto-approve -input=false planfile

  deploy_cdk:
    needs: detect_changes
    if: needs.detect_changes.outputs.cdk == 'true'
    runs-on: ubuntu-latest    
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Set up Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install AWS CDK
        run: npm install -g aws-cdk

      - name: Install Python dependencies
        run: |
          pip install --upgrade pip
          pip install -r requirements.txt
        working-directory: ./CDK

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: CDK Synth
        run: cdk synth
        working-directory: ./CDK

      - name: CDK Deploy
        run: cdk deploy --require-approval never
        working-directory: ./CDK
