name: Deploy to S3 and Invalidate CloudFront

on:
  push:
    branches: [ "main" ]
  workflow_dispatch:
env:
  LAMBDA_FUNCTION: lucian-cibu-resume-lambda-terraform
  S3_BUCKET: resume-lucian-cibu-s3-terraform
  CLOUDFRONT_DISTRIBUTION_ID: EDGGVY01J7KZW
  AWS_REGION: us-east-1
jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Zip Lambda function
        run: |
          cd Lambda
          zip -r ../Lambda.zip .

      - name: Deploy Lambda
        run: |
          aws lambda update-function-code \
            --function-name ${{ env.LAMBDA_FUNCTION }} \
            --zip-file fileb://Lambda.zip

      - name: Sync files to S3
        run: |
          aws s3 sync html/ s3://${{ env.S3_BUCKET }}/ --delete

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ env.CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/*"
