name: Deploy to S3 and Invalidate CloudFront

on:
  push:
    branches: ["main"]
    paths:
      - html/**
      - Lambda/**
      - Terraform/**
  workflow_dispatch:
env:
  LAMBDA_FUNCTION: lambda-terraform
  S3_BUCKET: s3-terraform-083971419667
  S3_BUCKET_TF_STATE: s3-tfstate-083971419667
  CLOUDFRONT_DISTRIBUTION_ID: E1XEREO1WT2D9H
  AWS_REGION: us-east-1

jobs:
  deploy_html:
    if: contains(github.event.head_commit.modified, 'html/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code    
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Sync HTML to S3
        run: aws s3 sync html/ s3://${{ env.S3_BUCKET }}/ --delete

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ env.CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/*"

  deploy_lambda:
    if: contains(github.event.head_commit.modified, 'Lambda/')
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code    
        uses: actions/checkout@v4

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Zip Lambda
        run: |
          cd Lambda
          zip -r ../Lambda.zip .

      - name: Deploy Lambda
        run: |
          aws lambda update-function-code \
            --function-name ${{ env.LAMBDA_FUNCTION }} \
            --zip-file fileb://Lambda.zip

  deploy_terraform:
    if: contains(github.event.head_commit.modified, 'Terraform/')
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./Terraform    
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      - name: Terraform init
        run: terraform init -backend-config="bucket=$S3_BUCKET_TF_STATE"          

      - name: Terraform format
        run: terraform fmt -check

      - name: Terraform validate
        run: terraform validate        

      - name: Terraform plan
        id: plan
        run: terraform plan -input=false -out planfile
        continue-on-error: true
      
      - name: Terraform plan status
        if: steps.plan.outcome == 'failure'
        run: exit 1        

      - name: terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve -input=false planfile        