name: Deploy to S3 and Invalidate CloudFront

on:
  push:
    branches: ["main"]
    paths:
      - html/**
      - Lambda/**
      - Terraform/**
  workflow_dispatch:
env:
  LAMBDA_FUNCTION: lambda-terraform
  S3_BUCKET: s3-terraform-083971419667
  S3_BUCKET_TF_STATE: s3-tfstate-083971419667
  CLOUDFRONT_DISTRIBUTION_ID: E1XEREO1WT2D9H
  AWS_REGION: us-east-1

jobs:
  detect_changes:
    runs-on: ubuntu-latest
    outputs:
      html: ${{ steps.filter.outputs.html }}
      lambda: ${{ steps.filter.outputs.lambda }}
      terraform: ${{ steps.filter.outputs.terraform }}
    steps:
      - uses: actions/checkout@v4

      - uses: dorny/paths-filter@v3
        id: filter
        with:
          filters: |
            html:
              - 'html/**'
            lambda:
              - 'Lambda/**'
            terraform:
              - 'Terraform/**'

  deploy_html:
    needs: detect_changes
    if: needs.detect_changes.outputs.html == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code    
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: "20"

      - name: Install Prettier
        run: npm install -g prettier

      - name: Prettify HTML & CSS
        run: prettier --write "html/**/*.{html,css}"

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Sync HTML to S3
        run: aws s3 sync html/ s3://${{ env.S3_BUCKET }}/ --delete

      - name: Invalidate CloudFront
        run: |
          aws cloudfront create-invalidation \
            --distribution-id ${{ env.CLOUDFRONT_DISTRIBUTION_ID }} \
            --paths "/*"

  deploy_lambda:
    needs: detect_changes
    if: needs.detect_changes.outputs.lambda == 'true'
    runs-on: ubuntu-latest
    steps:
      - name: Checkout source code    
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          pip install --upgrade pip
          pip install flake8 pylint==3.0.3 astroid==3.0.3

      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Style Check(flake8)
        run: flake8 .
        working-directory: Lambda
        
      - name: Static Analysis Report(pylint)
        run: |
          pylint lambda_function.py --output-format=parseable > pylint-report.txt || true
          echo "===== PYLINT REPORT ====="
          cat pylint-report.txt          
        working-directory: Lambda

      - name: Zip Lambda
        run: |
          cd Lambda
          zip -r ../Lambda.zip .

      - name: Deploy Lambda
        run: |
          aws lambda update-function-code \
            --function-name ${{ env.LAMBDA_FUNCTION }} \
            --zip-file fileb://Lambda.zip

  deploy_terraform:
    needs: detect_changes
    if: needs.detect_changes.outputs.terraform == 'true'
    runs-on: ubuntu-latest
    defaults:
      run:
        shell: bash
        working-directory: ./Terraform    
    steps:
      - name: Checkout source code
        uses: actions/checkout@v4

      - uses: aws-actions/configure-aws-credentials@v4
        with:
          aws-access-key-id: ${{ secrets.AWS_ACCESS_KEY_ID }}
          aws-secret-access-key: ${{ secrets.AWS_SECRET_ACCESS_KEY }}
          aws-region: ${{ env.AWS_REGION }}

      - name: Setup terraform
        uses: hashicorp/setup-terraform@v2
        with:
          terraform_version: 1.6.6

      - name: Terraform init
        run: terraform init 

      - name: Terraform format
        run: terraform fmt -check

      - name: Terraform validate
        run: terraform validate        

      - name: Terraform plan
        id: plan
        run: terraform plan -input=false -out planfile
        continue-on-error: true
      
      - name: Terraform plan status
        if: steps.plan.outcome == 'failure'
        run: exit 1        

      - name: terraform Apply
        if: github.ref == 'refs/heads/main' && github.event_name == 'push'
        run: terraform apply -auto-approve -input=false planfile        